html, body, .root{
  background-color: rgb(253 242 248);
}
ul{
  scrollbar-color: rgb(252 231 243) rgb(244 244 245);
  scrollbar-width: none;
  /* scroll-snap-align: none end; */
}
/* @media only screen and (min-width:600px) {
  .mockup-phone>*{
    width: min-content;
  }
} */